.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Уменьшены отступы для большей компактности */
    font-size: 24px; /* Чуть уменьшен размер шрифта */
    background-color: #fff; /* Белый фон для контраста */
    color: #333; /* Темно-серый цвет текста для хорошей читаемости */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Более мягкая тень */
    border-bottom: 1px solid #e0e0e0; /* Легкая граница снизу */
}

.header h1 {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 24px; /* Увеличен размер для выделения заголовка */
    margin: 0; /* Убираем отступы */
    color: #000; /* Четкий черный текст */
}

.burgerMenuIcon {
    display: none; /* Скрыть на больших экранах, использовать на мобильных */
}

